
/* VARIABLES */

:root {
  --warm-white: #F2F2F0;
  /* --warm-white: #fefef3; */
  /* --main-color: #15586A; */
  --main-color: #3f7b80;
  --text-color: #313639;
  --text-color-light: #B1B4BB;
  --border-color: #eee;
  --bg-color: #E8E9EB;
  --neutral-color: #fff;
  --other-color: #EE5553;
  --black-color: #00272C;
  --coral-cloud: #E5AEA1;
  --post-it: #fefef3;
  /* --post-it: #F9F6EF; */
  --pink-color: #F9F1EF;
  --light-blue: #E5EBEF;
  --navy: #597b8d;
  --mermaid: #91BCBA;
  --eclipse: #3b3a50;
  --pink-peacock: #c83e74;
  --tumeric: #ff842a;
  --living-coral: #fc766a;
  --sweet-lilac: #e7b7cf;
  --sweet-corn: #f2edd7;
  --aspen-gold: #fed65e;
  --fiesta-red: #de4d44;
  --jester-red: #9e3744;
  --princess-blue: #2e5d9f;
  --evening-blue: #2A293E;
  --galaxy-blue: #2A4B7C;
  --vanilla-custard: #F3E0BE;
  --sugar-almond: #935529;
  --peach-pink: #FA9A85;
  --guacamole: #797B3A;
  --dark-cheddar: #E08119;
  --sunlight: #EDD59E;
  --ash: #A09998;
  --coral-pink: #E8A798;
  --flamingo: #F9586B;
  --bluestone: #577284;
  /* height: 100vh; */
  font-family: "proxima-nova, sans-serif";
  font-style: "normal";
  font-weight: 100;
  /* font-size: 10px; */
}

/* FONT IMPORTS */
.App{
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 10% 90%;
  background: var(--warm-white);
  height: 100vh;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.icon {
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-size: 1.8rem;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

/* GENERAL */

* {
  box-sizing: border-box;
}

/* changes the background of the entire app */
body {
  font-family: museo-sans-rounded, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 1em;
  line-height: 1.5;
  color: var(--text-color);
  background: var(--neutral-color);
  position: relative;
}





