
/* VARIABLES */

:root {
  --warm-white: #F2F2F0;
  /* --warm-white: #fefef3; */
  /* --main-color: #15586A; */
  --main-color: #3f7b80;
  --text-color: #313639;
  --text-color-light: #B1B4BB;
  --border-color: #eee;
  --bg-color: #E8E9EB;
  --neutral-color: #fff;
  --other-color: #EE5553;
  --black-color: #00272C;
  --coral-cloud: #E5AEA1;
  --post-it: #fefef3;
  /* --post-it: #F9F6EF; */
  --pink-color: #F9F1EF;
  --light-blue: #E5EBEF;
  --navy: #597b8d;
  --mermaid: #91BCBA;
  --eclipse: #3b3a50;
  --pink-peacock: #c83e74;
  --tumeric: #ff842a;
  --living-coral: #fc766a;
  --sweet-lilac: #e7b7cf;
  --sweet-corn: #f2edd7;
  --aspen-gold: #fed65e;
  --fiesta-red: #de4d44;
  --jester-red: #9e3744;
  --princess-blue: #2e5d9f;
  --sunlight: #EDD59E;
  --ash: #A09998;
  --coral-pink: #E8A798;
  --flamingo: #F9586B;
  --cranberry: rgb(187, 74, 77);
  --merlot: rgb(114, 38, 44);
  --summer-fig: rgb(190, 75, 59);
  --cranapple: rgb(215, 126, 112);
  --chili-pepper: rgb(155, 27, 48);
  --biking-red: rgb(119, 33, 46);
  --creme-de-peche: rgb(245, 214, 198);
  --peach-pink: rgb(250, 154, 133);
  --chicory-coffee: rgb(74, 52, 46);
  --bluestone: rgb(87, 114, 132);
  --galaxy-blue: rgb(42, 75, 124);
  --hazel: rgb(174, 114, 80);
  --antique-moss: rgb(185, 160, 35);
  --forest-biome: rgb(24, 74, 69);
  --rocky-road: rgb(90, 62, 54);
  --fruit-dove: rgb(206, 91, 120);
  --sugar-almond: rgb(147, 85, 41);
  --dark-cheddar: rgb(224, 129, 25);
  --butterscotch: rgb(225, 150, 64);
  --grapeade: rgb(133, 103, 123);
  --rutabaga: rgb(236, 221, 190);
  --green-olive: rgb(141, 139, 85);
  --evening-blue: rgb(42, 41, 62);
  --orange-tiger: rgb(249, 103, 20);
  --eden: rgb(38, 78, 54);
  --vanilla-custard: rgb(243, 224,190);
  --paloma: rgb(159, 156, 153);
  --frost-gray: rgb(132, 130, 131);
  --guacamole: rgb(121, 123, 58);

  font-family: "proxima-nova, sans-serif";
  font-style: "normal";
  font-weight: 100;

  
}
/* removing focus border for inputs */
input:focus, select:focus, button:focus {
  outline: none !important;
}

/* FONT IMPORTS */
.App{
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 10% 90%;
  background: var(--warm-white);
  height: 100vh;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.icon {
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-size: 1.8rem;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

/* GENERAL */

* {
  box-sizing: border-box;
}

/* changes the background of the entire app */
body {
  font-family: museo-sans-rounded, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 1em;
  line-height: 1.5;
  color: var(--text-color);
  background: var(--neutral-color);
  position: relative;
}





