/* Form Component */
#formContainer{
    grid-column: 2 / 3;
    padding-left: 5%;
    padding-right: 5%;
    background: var(--evening-blue);
    color: var(--warm-white);
}
  
#form{
    display: flex;
    flex-direction: column;
    padding-right: 5%;
}
  
.formInput{
    width: 100%;
    height: 3em;
    margin-bottom: 2%;
    border-radius: 5px;
}
  
#formSubmit{
    margin-top: 5%;
}
  
#createButton{
    margin-left: 5%;
    margin-bottom: 0%;
    border-radius: 25px;
    background-color: var(--bluestone);
    /* background-color: var(--navy); */
    color: var(--warm-white);
    font-size: 14px;
    padding: 3%;
    width: 10%;
}
  
#formHeader{
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
}
.activity{
    font-size: 12px;
    color: var(--eclipse);
}
  
#formSubmit{
    height: 40px;
    border-radius: 5px;
    background-color: #d2d2d2;
    color: #4E4A63;
    font-size: 14px;
}