/* Form Component */
#formContainer{
    grid-column: 2 / 3;
    padding-left: 5%;
    padding-right: 5%;
    background: var(--evening-blue);
    color: var(--warm-white);
    font-family: operetta-8, serif;
    font-weight: 200;
    font-style: normal;
}
  
#form{
    display: flex;
    flex-direction: column;
    padding-right: 5%;
}
  
.formInput{
    width: 100%;
    height: 3em;
    margin-bottom: 2%;
    border-radius: 5px;
}
  
#formSubmit{
    margin-top: 5%;
}
  
#createButton{
    margin-left: 5%;
    margin-bottom: 0%;
    border-radius: 1.5rem;
    background-color: var(--bluestone);
    /* background-color: var(--navy); */
    color: var(--warm-white);
    font-size: 1.8rem;
    padding: 0%;
    width: 10%;
    /* height: 10%; */
   
    /* font-family: operetta-8, serif;
    font-weight: 200;
    font-style: normal; */
}
  
#formHeader{
    font-family: operetta-8, serif;
    font-weight: 200;
    font-style: normal;
    /* font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 300; */
    font-size: 1.2rem;
}
.activity{
    font-size: 12px;
    color: var(--eclipse);
}
  
#formSubmit{
    height: 40px;
    border-radius: 5px;
    background-color: #d2d2d2;
    color: var(--evening-blue);
    /* color: #4E4A63; */
    font-size: 1.2rem;
    font-family: operetta-8, serif;
    font-weight: 200;
    font-style: normal;
}