/* Form Component */
#formContainer{
    grid-column: 2 / 3;
    padding-left: 5%;
    padding-right: 5%;
    color: var(--warm-white);
    font-family: operetta-8, serif;
    font-weight: 200;
    font-style: normal;
    background-color: var(--evening-blue);
}
  
#form{
    display: flex;
    flex-direction: column;
    padding-right: 5%;
}
  
.formInput{
    width: 100%;
    height: 3em;
    margin-bottom: 2%;
    border-radius: 5px;
}
  
#formSubmit{
    margin-top: 5%;
}
  
#createButton{
    background-color: var(--bluestone);
    color: var(--evening-blue);
    /* color: var(--warm-white); */
    font-size: 18px;
    width: 100%;
    height: 6%;
}
  
#formHeader{
    font-family: operetta-8, serif;
    font-weight: 200;
    font-style: normal;
    /* font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 300; */
    font-size: 1.2rem;
}
.activity{
    font-size: 12px;
    color: var(--eclipse);
}
  
#formSubmit{
    height: 40px;
    border-radius: 5px;
    background-color: #d2d2d2;
    color: var(--evening-blue);
    /* color: #4E4A63; */
    font-size: 1.2rem;
    font-family: operetta-8, serif;
    font-weight: 200;
    font-style: normal;
}